{% extends 'commonfile.html' %}
{% block content %}
<!-- ======= About Us Section ======= -->
<section id="services" class="services sections-bg">
    <div class="container" data-aos="fade-up">

        <div class="row gy-4 " data-aos="fade-up" data-aos-delay="100">
            {% for item in service_items %}

            <div class="col-lg-4 col-md-6">
                <div class="service-item  position-relative">

                    <h3>{{ item.name }}</h3>
                    <p>{{ item.short_description }}.</p>
                    <a href="{% url 'services' item.id %}" class="readmore stretched-link">Read more <i
                            class="bi bi-arrow-right"></i></a>
                </div>

            </div>
            {% endfor %}

        </div>


</section><!-- End Our Services Section -->


{% endblock content %}